<!DOCTYPE html>
<html>
<head>
    <title>CheckIn.html</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 1、Jquery组件引用-->
    <script src="/static/js/jquery.min.js"></script>
    <!-- 2、bootstrap组件引用-->
    <link href="/static/17com/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <!-- 4、其他-->
    <script src="/static/17com/js/echarts.js"></script>
</head>
<script>
    $(function () {
        a();
       /* $("#paiming1").hide();
        $("#sign").click(function(){
            $("#sign").addClass("active");
            $("#paiming").removeClass("active");
            $("#mess").removeClass("active");
            $("#checkin1").show();
            $("#paiming1").hide();
            $("#mess1").hide();
        });
        $("#paiming").click(function(){
            $("#paiming").addClass("active");
            $("#sign").removeClass("active");
            $("#mess").removeClass("active");
            $("#checkin1").hide();
            $("#paiming1").show();
            $("#mess1").hide();
        });*/
    })
    function a(){
        var myChart = echarts.init(document.getElementById('checkin1'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'category',
                splitLine: {
                    show: false
                },
                data:[8.15,8.16,8.17,8.18,8.19],
                name:'签到日期（月、日）'
            },
            yAxis: {
                min: 18,
                max: 22,
                splitNumber : 3,
                type: 'value',
                name: '签退时间(h)',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: '签到时间',
                type: 'bar',
                showSymbol: false,
                hoverAnimation: false,
                barWidth: '20%',
                data: [18.27,18.20,22.55,19.30,18.15]

            }]
        };
        myChart.setOption(option);
        myChart.resize({width:500,height:400});
    }
    function b(){
        var myChart = echarts.init(document.getElementById('paiming1'));
        var option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                min:7,
                max:10,
                splitNumber:4,
                type: 'value'
            },
            series: [{
                data: [7.30, 7.59, 8.00, 8.20, 8.25, 7.30, 9.00],
                type: 'line',
                smooth: true
            }]
        };
        myChart.setOption(option);
        myChart.resize({width:500,height:400});
    }


    //初始化bootstrap-table的内容
    var TableInit = function () {
        $('#grid').bootstrapTable({
            url: '/customer-data',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 5,                       //每页的记录行数（*）
            pageList: [5,10],        //可供选择的每页的行数（*）
            strictSearch: true,
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表onEditableSave
            columns: [{
                checkbox: true
            }, {
                field: 'name',
                title: '用户姓名'

            }, {
                field: 'time',
                title: '签到时间'

            }, {
                field: 'method',
                title: '签到方式'

            }, {
                field: 'location',
                title: 'IP地址'

            }
                , {
                    field: 'statu',
                    title: '状态'

                }
            ],
            /*data:[{name:常宗涛,time:2018-8-31,method:PC,location:'202.202.1.1',statu:迟到}],*/
        });
    }
</script>
<style>
    a{
        cursor: pointer;
    }
</style>
<body>
<div class="container-fluid">

    <div class="row">
        <ul class="nav nav-tabs col-12">
            <li class="nav-item">
                <a id="sign" class="nav-link active" >签退</a>
            </li>
        </ul>
        <div id="checkin1">
        </div>
        <form action="" class="col-12">
            <div>
                <input type="button" id="login" value="签退" class="btn btn-success">
            </div>
        </form>

    </div>
</div>
</body>
</html>
